<div class="main-content center-screen">
  <div class="row fix-width-form">
    <div class="col-md-12">
      <div class="card center-item">
        <div class="card-header card-header-danger">
          <h4 class="card-title">RICE</h4>
          <p class="card-category">User Portal</p>
        </div>
        <div class="card-body">
          <form
            class="example-form"
            (submit)="CreateProfile(postform)"
            #postform="ngForm"
          >
            <div class="row top-margin">
              <div class="col-6">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Username</mat-label>
                  <input matInput name="username" ngModel required />
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Email</mat-label>
                  <input matInput type="email" ngModel email="true" name="email" #email="ngModel" required />
                  <mat-error *ngIf="email.invalid">Enter a valid email!</mat-error>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Firstname</mat-label>
                  <input matInput ngModel name="firstname"  required/>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Lastname</mat-label>
                  <input matInput ngModel name="lastname" required/>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Address</mat-label>
                  <input matInput ngModel name="address"  required/>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Contact</mat-label>
                  <input matInput ngModel name="contact"  required/>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>State</mat-label>
                  <input matInput ngModel name="inputState" required/>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>City</mat-label>
                  <input matInput ngModel name="inputCity" required/>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Postal Code</mat-label>
                  <input matInput ngModel name="inputZip" required />
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Country</mat-label>
                  <input matInput ngModel name="inputCountry" required />
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field appearance="fill">
                  <mat-label>User Type</mat-label>
                  <mat-select name="usertype" [(ngModel)]="usertype" required>
                    <mat-option value="Admin">Admin</mat-option>
                    <mat-option value="User">User</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-6">
                <button mat-raised-button type="submit" color="warn">
                  Create
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
