
  /* .mat-raised-button.mat-warn {
   margin-left: 10px;
   margin-top: 10px
  }
  .head {
    text-decoration: #f44336;
  }
  
  .buttons {
    background-color: #f44336;
    margin-left: 10px;
    margin-top: 10px;
  } */
