mat-card {
  width: 25%;
  margin: 12em auto;
  text-align: center;
}

.mat-raised-button.mat-warn {
 margin-left: 10px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.mat-card-title {
  display: block;
  margin-bottom: 25px;
}
