.container-fluid{
    background-color: #f44336;
}
.navbar-wrapper{
    font-weight: 400;
    color: white;
}
#navbarDropdownMenuLink{
    color: white;
}

#u_name{
    font-weight: 400;
    color: white;
    margin-bottom: 0px;
}