<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-10">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Users</h4>
            <p class="card-category">Update user role</p>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text">
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Admin Access</th>
                <th>Delete</th>
              </thead>
              <tbody> 
                <tr *ngFor="let user of all_user_data.data">
                  <td>{{user._id}}</td>
                  <td>{{user.username}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.contact}}</td>
                  <td *ngIf="user.admin_status==1">
                    <i class="material-icons text-success" (click)="accept_request(user._id)">checkmark</i>
                    <i class="material-icons text-danger" (click)="reject_request(user._id)">close</i>
                  </td>
                  <td *ngIf="user.admin_status==0">
                    <i class="material-icons text-success" (click)="accept_request(user._id)">key</i>                  
                  </td>
                  <td *ngIf="user.admin_status==2">
                    <i class="material-icons text-success" (click)="change_to_user(user._id)">person</i>                   
                  </td>
                  <td>  
                    <i class="material-icons text-danger" (click)="delete_user(user._id)">delete</i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>