<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-10">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Users</h4>
            <p class="card-category">Update user role</p>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text">
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Admin Access</th>
                <th>Delete</th>
              </thead>
              <tbody> 
                <tr>
                  <td>1</td>
                  <td>User 1</td>
                  <td>user@gmail.com</td>
                  <td>999999999</td>
                  <td>
                    <button type="button" class="btn btn-success">Accept</button>

                    <button type="button" class="btn btn-danger">Deny</button>
                    
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger">Danger</button>
                  </td>
                  <!-- <td>
                    <button mat-raised-button type="button" matTooltip="Remove User" [matTooltipPosition]="'above'"
                      class="btn btn-danger btn-link btn-sm btn-just-icon">
                      <i class="material-icons">close</i>
                    </button>
                  </td> -->
                </tr>
                <tr>
                  <td>1</td>
                  <td>User 1</td>
                  <td>user@gmail.com</td>
                  <td>999999999</td>
                  <td>
                    <button type="button" class="btn btn-success">Give Access</button>                    
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger">Danger</button>
                  </td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>User 1</td>
                  <td>user@gmail.com</td>
                  <td>999999999</td>
                  <td>
                    <button type="button" class="btn btn-success">Admin</button>                    
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger">Danger</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>