<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-08">
              <mat-card class="example-card">
                <mat-card-header>
                  <!-- <mat-card-title>SEM Connection</mat-card-title> -->
                </mat-card-header>
                <img mat-card-image class="main-image" src="../../../assets/img/cmd.svg.png" alt="Photo has error">
                <!-- <mat-card-actions>
                  <button mat-button (click)="comp_state(1)">Click here for data!</button>
                </mat-card-actions> -->
              </mat-card>
            </div>
    </div>
</div>