<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <mat-card class="example-card">
          <mat-card-content>
            <canvas id="lineChart"></canvas>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-6">
        <mat-card class="example-card">
          <mat-card-content>
            <canvas id="barChart"></canvas>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <br />
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <mat-card class="example-card">
            <mat-card-content>
              <canvas id="pieChart"></canvas>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-6">
          <mat-card class="example-card">
            <mat-card-content>
              <canvas id="lineChart1"></canvas>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
