<!-- <div style="display: block">
  <canvas baseChart
    [chartType]="chartType"
    [datasets]="chartDatasets"
    [labels]="chartLabels"
    [colors]="chartColors"
    [options]="chartOptions"
    [legend]="true"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)">
  </canvas>
</div> -->

<!-- <div style="display: block;">
    <canvas baseChart width="400" height="400"
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
      [plugins]="lineChartPlugins">
    </canvas>
  </div>
   -->

<!-- 
   <div style="display: block">
    <canvas baseChart
      [chartType]="lineChartType"
      [datasets]="lineChartData"
      [labels]="chartLabels"
      [colors]="chartColors"
      [options]="lineChartOptions"
      [legend]="lineChartLegend"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)">
    </canvas>
  </div> -->