button{
    margin-top: 1em;
}

.md-fab-bottom-right{
    position: fixed !important;
    right: 15px;
    bottom: 15px; /* Add this and change value to set the margin you want */
}

.clickable{
    text-decoration: underline;
    cursor: pointer;
}