button {
    margin-top: 1em;
  }
  
  .md-fab-bottom-right {
    position: fixed !important;
    right: 15px;
    bottom: 15px; /* Add this and change value to set the margin you want */
  }
  
  .clickable {
    text-decoration: underline;
    cursor: pointer;
  }
  
  mat-card-subtitle {
    font-size: 18px;
  }
  
  p {
    font-family: "Times New Roman", serif;
    text-align: justify;
    padding : 0;
    margin : 0;
  }
  .custom-btn-group .btn{
    margin-right: 4px;
  }
  
  .custom-btn-group .btn:last-child{
    margin-right: 0px;
  }

  /* #filebtn {
    background-color: #f44336;
    color: white;
  }
  
  .mat-button {
    height: 35px;
    width: 100px;
    font-size: 12px;
  }
  
  #action_btn {
    margin-left: 36px;
    margin-right: 43px;
  } */
  